    .header {
  position: relative;

  //width: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;

      @include respond(desktop) {
    margin-bottom: -5rem;
    background-color: #008766;
    font-size: 2.5rem;
    //height: 17rem;

    background-image: linear-gradient(
                    to right bottom,
                    rgba($color-tertiary, 1),
                    rgba($color-secondary, 0.5)),
    url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;


    clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
    height: 30rem;
  }

      &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Shrikhand, Roboto, sans-serif;
    text-decoration: none;
    color: $color-black;
    font-size: 1.85rem;
    padding: 0.9rem;



    @include respond(tab) {
      font-size: 2.5rem;
    }

    @include respond(desktop) {
      position: relative;
      top: 3rem;
      //left: 10rem;
      color: $color-black;
      font-size: 5rem;
    }

    &--preview {
      font-size: 1.7rem;
      padding-left: 0;

      @include respond(tab){
        justify-content: flex-start;
        padding-left: 1rem;
        width: 100%;
      }
    }
  }

      &__search-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb($color-black, 0.12);
    box-shadow: inset 0px 3px 3px 0px rgba($color-black, .1);

    @include respond(desktop) {
      width: 100%;
      position: relative;
      top: -15rem;
      background-color: transparent;
      box-shadow: none;

      //z-index: 1;


    }
}

      &__search-box {
    padding: 1rem 0rem 1rem 5rem;

    @include respond(tab) {
      font-size: 1.2rem;
      padding-left: 0rem;
    }

    @include respond(desktop) {
    //padding-top: 6rem;

      //display: flex;
      //justify-content: right;

      //left:10rem;
      //position: absolute;
      //font-size: 3rem;

    }

  }

      &__fa-map {
    color: $color-black;
    font-size: $default-font-size;

    @include respond(tab) {
      display: block;
      padding-bottom: 1rem;
      font-size: 2rem;
      color: rgb($color-black, 0.5);
    }
  }


      &__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //position: absolute;
    background: rgb($color-black, 0.07);
    text-align: center;
    //padding: 2rem 1rem 3.5rem 1rem ;
    padding: 2rem 1rem 2rem 1rem ;


    @include respond(desktop) {
      padding-top: 0;
      //position: relative;
      //top: -6rem;
      background-color: transparent;
      box-shadow: none;

      //z-index: 1;
    }
  }

      &__i {
    position: absolute;
    left: 25px;
    top: 20px;
    color: black;
    font-size: 22px;

    @include respond(tab) {

    }

    &--menu {
      padding-left: 2rem;
    }
  }

      //Header Menus
      .header--menus {
        @include respond(desktop) {

        }
      }


}
