.animation {

  &--ease1 {
    animation: fade-in 800ms ease-in-out;
  }

  &--ease2 {
    animation: fade-in 1000ms ease-in-out;
  }

  &--ease3 {
    animation: fade-in 1200ms ease-in-out ;
  }

  &--ease4 {
    animation: fade-in 1500s ease-in-out;
  }

  &--fadeIn {
    animation: grow 10s ease-in-out 0.15s infinite;
  }
}

.anim-menu {



    @include respond(tab){
      //width: 80%;
      margin: 1rem;
      background-color: $color-tertiary;
      padding: 0.8rem;
      border-radius: 15px;
      transition: 2s;

      transform: translateY(-1.5rem) ;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));


      .card__preview {
        margin-top: 0;
      }

      .smal-card {
        background-color: $color-grey-soft;
      }

      .card__green-line {
        border-color: $color-white;
      }

      &:hover {
        //margin-top: 3rem;
        transform: translateY(-1.5rem) ;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
        //transform: scale(1);
        background-color: rgba($color-tertiary, 0.3);

        //padding: 1.5rem;

        @include respond(desktop) {
          background-color: $color-grey-soft;

          .card__green-line {
            border-color: $color-tertiary;
          }

          .card__heading-span--preview {
            color: $color-black;
          }

          .animation {
            //transition: all 500ms;
            //
            //background-color: $color-tertiary;
            //padding: 0.25rem;
            //padding-top: 1rem;
            //&:hover :nth-child(2) {
            //  background-color: $color-primary;
            //
            //}
            //&:hover :nth-child(3) {
            //  background-color: $color-secondary;
            //
            //}
          }

          .card__heading-span--preview {
            //color: $color-white;
          }

        }

      }
    }

    @include respond(desktop) {
      margin-top: 2rem;
      margin-right: 0;
      margin-left: 0;
      width: 29%;
      height: 5rem;
      font-size: 5rem;



      .card__heading {
        display: block;
      }





      .card__preview {
        margin-top: 0;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card__green-line {
        width: 100%;
        //min-width: 16rem;
        //display: flex;
        //justify-content: center;
        //align-items: center;
      }

      &:hover {


        transform: translateY(-1rem);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

        .check {


        }




        //transform: scale(1);
        //background-color: $color-tertiary;
        //padding: 1.5rem;

        .animation {
          //display: initial;
        }



        .card__heading-span--preview  {
        }


        .smal-card {
        }


      }
    }
}

.plat {
  @include respond(tab){
    //width: 45%;
    //flex-wrap: wrap;


    //position: absolute;
    //top: 4rem;
    //left: 50%;
  }
}

.dessert {
  @include respond(tab){
    //width: 100%;
    //position:relative;
    //top: 30rem;
  }
}











