//Start animation
.animation {

    &--ease1 {
      animation: fade-in 800ms ease-in-out;
    }

    &--ease2 {
      animation: fade-in 1000ms ease-in-out;
    }

    &--ease3 {
      animation: fade-in 1200ms ease-in-out ;
    }

    &--ease4 {
      animation: fade-in 1500s ease-in-out;
    }

    &--fadeIn {
      animation: grow 10s ease-in-out 0.15s infinite;
    }

    &--menu {

      @include respond(desktop) {
        animation: none;

      }

    }
}
//End animation

//Start anim-menu
.anim-menu {

    //Start Tab
    @include respond(tab){
      margin: 1rem;
      background-color: rgba($color-tertiary, 0.5);
      padding: 0.8rem;
      border-radius: 15px;
      transition: 2s;
      transform: translateY(-1.5rem) ;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));

        .card__preview {
          margin-top: 0;
        }

        .smal-card {
          background-color: $color-grey-soft;
        }

        .card__green-line {
          width: 3.2rem;

          border-color: $color-white;
        }

        &:hover {
            transform: translateY(-1.5rem) ;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
            background-color: rgba($color-tertiary, 0.3);

            @include respond(desktop) {

            background-color: $color-grey-soft;

                .card__green-line {
                  border-color: $color-tertiary;
                }

                .card__heading-span--preview {
                  color: $color-black;
                }
            }
        }
    }
    //End Tab

    //Start Desktop
    @include respond(desktop) {
      margin-top: 2rem;
      margin-right: 0;
      margin-left: 0;
      width: 28%;
      height: 5rem;

      .card__green-line {
        width: 100%;
      }
      &:hover {
        transform: translateY(-1rem);
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

        .card__heading {
          padding-right: 1rem;
        }
      }
    }
    //End Desktop
}
//End anim-menu

