.animation {

  &--ease1 {
    animation: fade-in 800ms ease-in-out;
    transition: fader;
  }

  &--ease2 {
    animation: fade-in 1000ms ease-in-out;
  }

  &--ease3 {
    animation: fade-in 1200ms ease-in-out ;
  }

  &--ease4 {
    animation: fade-in 1200s ease-in-out;
  }


}
