.btn {
  display: inline-block;

    text-decoration: none;
    font-size: $default-font-size;
    font-weight: 400;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0 .3rem 1rem rgba($color-black, .3);
    padding: 1rem 1.37rem;
    border-radius: 1.5rem;
    color: rgba($color-white, .9);
    cursor: pointer;

  &__preview {
    padding: 1rem 3.1rem;
  }
}
