.btn {
    display: inline-block;
    text-decoration: none;
    font-size: $default-font-size;
    font-weight: 400;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0 .3rem 1rem rgba($color-black, .3);
    padding: 1rem 1.37rem;
    border-radius: 1.5rem;
    color: rgba($color-white, .9);
    cursor: pointer;

  &:hover {
    box-shadow: 0 .3rem 1rem rgba($color-black, .5);
    background: linear-gradient(rgba($color-secondary, 0.8), rgba($color-primary, 0.8)),;
  }



  &__preview {
    padding: 1rem 3.1rem;
  }

  @include respond(desktop) {
    justify-content: center;


    //border: solid 1px white;
    //font-size: 1.3rem;
    //width: 22%;


  }
}

//div{
//  width: 300px;
//  height: 100px;
//  text-decoration: none;
//  color: #351435;
//  font-family: sans-serif;
//  font-size: 40px;
//  border: 3px solid #351435;
//  padding: 40px 80px;
//  position: relative;
//  transition: all 1s;
//  overflow: hidden;
//
//  &:before {
//      content: '';
//      position: absolute;
//      left: 0;
//      top: 0;
//      height: 100%;
//      width: 100%;
//      background-color: #351435;
//      z-index: -1;
//      transform: translateY(-100%);
//      transition: all 1s;
//  }
//
//  &:hover:before {
//    transform: translateY(0);
//  }
//
//  &a:hover {
//    color: white;
//  }

//}
//
//.width:hover {
//   width: 340px;
//}

