    .heart {
      background-image: url("../../assets/heart-regular.svg");
      height: 26px;
      width: 26px;
      position: relative;

      &:before{
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0rem;
        right: 0;
        bottom: 0;
        left: 0.01rem;
        z-index: -1;
        transform-origin: top;
      }

      &:before{
        background-image: url("../../assets/heart-solid.svg");
        transform-origin: bottom;
        display: none;
      }

      &:hover:before{
        animation: fadeIn 1s linear forwards;
        display: revert;
      }
    }
