.smal-card {
  display: flex;

  background-color: $color-grey-soft;
  box-shadow: 0 .3rem 1rem rgba($color-black, .18);
  border-style: none;
  border-radius: 22px;
  padding: 1.5rem 1rem;
  margin-left: 15px;
  margin-bottom: 1.5rem ;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-primary, 0.10);
    i{
      color: $color-primary;
    }
  }
}

.smal-card--preview {
  margin-left: 0px;
  padding:0;
  &:hover {
    background-color: initial;
  }
}


