.smal-card {
  //width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1.25rem;
  background-color: $color-grey-soft;
  box-shadow: 0 .3rem 1rem rgba($color-black, .18);
  border-style: none;
  border-radius: 22px;
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem ;
  cursor: pointer;


  &--sc1 {
    @include respond(tab)  {
      transform: scale(0.8);
      z-index: 1;
    }

    @include respond(desktop)  {
      position: relative;
      left: -2%;
      transform: scale(1);
      z-index: 1;
    }
  }

  &--sc2 {
    @include respond(tab)  {
      transform: scale(1);
      z-index: 3;
    }

    @include respond(desktop)  {

      position: relative;
      right: 2%;
      transform: scale(1.2);
      z-index: 2;
    }
  }

  &--sc3 {
    @include respond(tab)  {
      transform: scale(0.8);
      z-index: 2;
    }
    @include respond(desktop)  {

      position: relative;
      right: -2%;
      transform: scale(1.4);
      z-index: 3;
    }
  }


  &:hover  {
    background-color: rgba($color-primary, 0.10);
    transition: 700ms ease-in-out;
    i{
      color: $color-primary;

      @include respond(tab) {
        display: block;
        color: rgba($color-primary, 0.5);
        animation: rotate 700ms ease-in-out;
      }

    }

    .check {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 1.3rem;

      //width: 68px;
      //height: 68px;
      position: relative;
      //right: 16px;
      //top: 0px;
      font-size: 1.5rem;

      border-radius: 0 15px 15px 0 ;
      background-color: $color-tertiary;
      transform-origin: right;





      animation: moveInLeft $prog-check-timing $prog-check-delay ease-in-out;


      & i {
        display: block;
        color: #fff;
        animation: rotate $prog-check-delay ease-in-out;
      }
    }
  }
}

.smal-card--preview {
  margin-left: 0px;
  margin-bottom: 0.8rem ;
  padding:0;

  &:hover {
    background-color: initial;

  }

  & i {
    display: none;
  }
}



