.smal-card {
  display: flex;
  justify-content: space-between;
  line-height: 1.25rem;
  background-color: $color-grey-soft;
  box-shadow: 0 .3rem 1rem rgba($color-black, .18);
  border-style: none;
  border-radius: 22px;
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem ;
  cursor: pointer;
  overflow: hidden;


  &--menu {
    @include  respond(tab){
      //width: 80%;
    }

    @include  respond(desktop){
      background-color: #ff79da;
    }
  }

  &:hover  {

    @include check;
    background-color: rgba($color-primary, 0.10);//ici
    i{
      color: $color-primary;
    }

    @include respond(tab) {

      & .fa-chevron-down {
        display: flex;
        justify-content: center;
        padding: 1rem;

        font-size: 2rem;

      }

      & .fa-1{
        display: initial;
        font-size: 3rem;
      }

      & .fa-2{
        display: initial;
        font-size: 3rem;
      }

      & .fa-3{
        display: initial;
        font-size: 3rem;
      }

      & .choice-steps__fas {
        display: none;
      }
    }

    @include respond(desktop) {
      .check {
        display: none;
      }
    }
  }
}

.smal-card--preview {
  margin-left: 0px;
  margin-bottom: 0.8rem ;
  padding:0;

  &:hover {
    background-color: initial;

    @include respond(desktop){

    }
  }

  & i {
    display: none;
  }

  &--sc1 {
    @include respond(tab)  {
      transform: scale(0.8);
      z-index: 1;
    }

    @include respond(desktop)  {
      position: relative;
      left: -2%;
      transform: scale(1);
      z-index: 1;
    }
  }

  &--sc2 {
    @include respond(tab)  {
      transform: scale(1);
      z-index: 3;
    }

    @include respond(desktop)  {

      position: relative;
      right: 2%;
      transform: scale(1.2);
      z-index: 2;
    }
  }

  &--sc3 {
    @include respond(tab)  {
      transform: scale(0.8);
      z-index: 2;
    }
    @include respond(desktop)  {

      position: relative;
      right: -2%;
      transform: scale(1.4);
      z-index: 3;
    }
  }

  @include respond(tab)  {
    &__shape {
      display: flex;
      justify-content: center;
      width: 15rem;
      height: 15rem;
      transition: all 1s;
      &:hover {
        box-shadow: 0 1rem 1rem rgba($color-black, .3);
        transform: scale(1.1);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba($color-tertiary, 1);
      }
    }
  }

  @include respond(desktop) {
    &__shape {

      overflow: hidden;
      border-radius: 50%;
      border-radius: 100% 100% 0% 100% / 0% 100% 0% 100%;

      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 1);

      &:hover{
        background-color: transparent;
      }
    }
  }

  &--fa-circle-1 {
    color: #008766;
    position: absolute;
    left: 8px;
  }
}
