//Effet Fade Menu
@keyframes fade-in {
  from {
    transform: translateY(15%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

//Loader
@keyframes bg-color {
  0%{
    background-color: $color-black;
    opacity: 1;
  }

  30%{
    background-color: $color-grey-soft;
    opacity: 1;
  }

  60%{
    background-color: $color-tertiary;
    opacity: 1;
  }

  70%{
    background-color: $color-black;
    opacity: 1;
  }

  80%{
    background-color: $color-grey;
    opacity: 1;
  }

  100%{
    background-color: $color-grey-soft;
    opacity: 0;
  }
}

//Loader
@keyframes animate {
  0%
  {
    opacity: 1;
  }

  10%{
    color: #fff;

  }

  30%{
    color: $color-secondary;
  }

  50%{
    color: $color-primary;
  }

  70%{
    color: $color-tertiary;
  }

  80%{
    color: $color-grey-soft;
  }

  100%{
    opacity: 0;
  }
}

//Heart
@keyframes fadeIn {

  0% {
    transform: scale(0);
    opacity: 0;
  }

  30% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.3;
  }

  70% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

