body {
    margin: 0;
    font-family: 'Roboto', sans-serif, 'Shrikhand', cursive;
    color: #FFFFFF;
    background-color: #ffffff;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
}

.heading-primary {
    color: $color-black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;


    &--main {
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 1rem;
    }

    &--sub {
        display: block;
        font-size: 1.2rem;
        font-weight: 300;
    }
}
