.section-fonctionnement {
  padding: 3rem 1.25rem 2.6rem 1.25rem ;
}

.select-container {
  padding-top: 1.7rem;
  color: $color-black;

  @include respond(phone) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    height: 15rem;

    font-size: 1.2rem;
    color: $color-primary;

    //animation: fade-in 300ms ease-in-out;

  }


}

.choice-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @include respond(phone) {
    justify-content: center;

  flex-wrap: wrap;
    animation: fade-in 2000ms ease-in-out;
  }

  &__fas {
    font-size: 1.30rem;
    color: rgba($color-black, 0.5);
    width: 25px;
    height: 25px;
    margin-left: 1.1rem;

    @include respond(phone) {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      font-size: 5rem;
      margin-left: 0;
      //padding: 1rem;
      color: $color-primary;

      animation: fade-in 1000ms ease-in-out;

    }
  }
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 22px;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;



  &__i {

    background: $color-primary;
    font-size: 0.8rem;
    color: $color-white;
    border-style: none;

    @include respond(phone) {
      display: none;
      //font-size: 4rem;
      //padding: 0.2rem;
      //color: $color-primary;

      animation: rotate 700ms ease-in-out;

    }
    }
  }

.d-flex {
  display: flex;
}

.choose-place-p {

  color: $color-black;
  font-weight: 700;
  margin: 0;
  padding-left: 1rem;

  @include respond(phone) {
    text-align: center;
    padding-left: 0;
    font-weight: 400;

  }
}
