.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;

  &--menu {
    @include respond(desktop) {
      position: absolute;
      //right: 50%;
      top: 40rem;

    }

  }

}

main {
  background-color: $color-grey-soft;
}


