@mixin font-awesome-gradient {

  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight: bold;





  //background-image: $fa-background-color;


  //transition: ease-in-out 1200ms;



}


@mixin respond($breakpoint) {
  @if $breakpoint == tab {
    @media only screen and (min-width: 37.5em) { @content };    //600px
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width:56.25em ) { @content };    //900px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 75em) { @content };    //1200
  }
}


@mixin logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand, Roboto, sans-serif;
  text-decoration: none;
  color: $color-black;
  font-size: 1.85rem;
  padding: 0.9rem;
}

@mixin heart {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-image: $fa-background-color;

  animation: blink 5s ease-in-out;
}



