@mixin font-awesome-gradient {

  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight: bold;





  //background-image: $fa-background-color;


  //transition: ease-in-out 1200ms;



}


@mixin respond($breakpoint) {
  @if $breakpoint == tab {
    @media only screen and (min-width: 37.5em) { @content };    //600px
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width:56.25em ) { @content };    //900px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 75em) { @content };    //1200
  }
}

@mixin check {
  .check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.3rem;
    position: relative;
    font-size: 1.5rem;
    border-radius: 0 15px 15px 0 ;
    background-color: $color-tertiary;
    transition: all 500ms;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      //top: 0;
      height: 100%;
      width: 100%;
      background-color: #FFFFFF;
      z-index: -1;
      transform: translateX(-100%);
      transition: all 1s;
    }

    &:hover:before {
      transform: translateX(0);
    }

    & i {
      display:block;
      color: #fff;
      animation: rotate $prog-check-delay ease-in-out;
    }
  }
}

@mixin logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Shrikhand, Roboto, sans-serif;
  text-decoration: none;
  color: $color-black;
  font-size: 1.85rem;
  padding: 0.9rem;
}

@mixin heart {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-image: $fa-background-color;

  animation: blink 5s ease-in-out;
}
