@mixin font-awesome-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight: bold;
}


@mixin respond($breakpoint) {
  @if $breakpoint == tab {
    @media only screen and (min-width: 37.5em) { @content };    //600px
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width:56.25em ) { @content };    //900px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 75em) { @content };    //1200
  }
}
