// COLORS
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-black: #000;
$color-grey: #cbcbcb;
$color-grey-soft: #f7f7f7;


// FONT
$default-font-size: 16px;
$prog-check-timing: 425ms;
$prog-check-delay: 425ms;



$fa-background-color : linear-gradient(to right, $color-secondary 0%, $color-primary 100%, $color-primary 100%);





